@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  overflow-y: hidden;
  background-color: hsl(216, 12%, 8%);
}

main {
  width: 400px;
  height: 400px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  background: radial-gradient(97% 97% at 50% 0%, #232a34 0%, #181e27 100%);
}

.firstPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.star {
  width: 50px;
  height: 50px;
  margin-left: 30px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #262e38;
}

.mainTitle {
  margin-left: 30px;
  margin-bottom: -15px;
}

.feedbackText {
  font-size: 15px;
  margin-left: 30px;

  color: hsl(217, 12%, 63%);
}

.ratingOptions {
  list-style: none;

  margin: 10px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoreButton {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: hsl(217, 12%, 63%);
  background-color: #262e38;
}

.scoreButton:hover {
  color: white;
  background-color: hsl(25, 97%, 53%);
}

.scoreButton:focus {
  color: white;
  background-color: hsl(217, 12%, 63%);
}

.submit {
  width: 350px;
  height: 50px;
  margin-left: 25px;
  border: none;
  border-radius: 40px;

  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: white;
  background-color: hsl(25, 97%, 53%);

  cursor: pointer;
}

.submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: white;
}

.illustrationThankYou {
  display: flex;
  margin-bottom: 30px;
}

.ratingSelection {
  width: 190px;
  padding: 7px 10px;
  margin-bottom: 30px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;

  color: hsl(25, 97%, 53%);
  background-color: #262e38;
}

.thankYou {
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}

.thanksText {
  text-align: center;
  font-size: 15px;
  color: hsl(217, 12%, 63%);
}

.secondPage {
  display: none;
}